-@entries.each do |entry|
  - case entry.type
    -when 'Image'
      = render 'image', entry: entry
    -when 'Link'
      = render 'link', entry: entry
    -when 'Video'
      = render 'video', entry: entry
    -when 'Tweet'
      = render 'tweet', entry: entry
    -when 'Employee'
      = render 'employee', entry: entry