-@entries.each do |entry|
  - case entry.content_type
    -when 'image'
      = render 'image', entry: entry
    -when 'link'
      = render 'link', entry: entry
    -when 'video'
      = render 'video', entry: entry
    -when 'tweet'
      = render 'tweet', entry: entry
    -when 'employee'
      = render 'employee', entry: entry