%section#top-page
  = render 'header'

  %aside#about
    = render 'about'

  .clearer
  %footer{id:"footer_top"}
    = render 'footer'

%section#showcase
  #showcase-inner

= render 'layouts/footer'

#helper
  = render 'helper'